{% extends "Whiteboard/base.html" %}
{% block content %}
<div class="container">
<div class="material-contact" style="width: 100%; margin-top: 5px; padding: 5px">
                <div class="card-panel"">
                  <h5 class="header2">Edit your profile</h5>
                  <div class="row">
                    <form class="col s12">
                      <div class="row">
                        <div class="input-field col s12">
                          <i class="mdi-action-question-answer prefix"></i>
                          <textarea id="message4" class="materialize-textarea validate" length="120"></textarea>
                          <label for="message">Message</label>
                        <span class="character-counter" style="float: right; font-size: 12px; height: 1px;"></span></div>
                        <div class="row">
                          <div class="input-field col s12">
                            <button class="btn cyan waves-effect waves-light right" type="submit" name="action">Submit
                              <i class="mdi-content-send right"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              </div>
{% endblock %}

