{% extends "base.html" %}
{% load static %}
{% block content %}
<div class=" col s12 m6 l3">
	<div class="card indigo lighten-5" style="height: 225px; margin-bottom: 5px">
	    <div class="card-content black-text pull-down" style="padding: 5px;">
	        <span class="card-title center">Freedom Board</span>
	        <div class="divider"></div>    
			<textarea id="wall" rows="7" style="height:auto; margin-top: 7px"></textarea>	    
	    </div>
    </div>
     <div class="card indigo lighten-5 height-fixed" style="margin-bottom: 0px">
	    <div class="card-content black-text pull-down" style="padding: 5px;">
	        <span class="card-title" style="margin-bottom: 15px"><b>Members</b><a class="btn-floating waves-effect waves-light teal darken-4 right" href="#add_membermodal" data-target="add_membermodal" style="margin-right: 5px"><i class="material-icons" style="margin-top: 3px">supervisor_account</i></a></span>
	        <div class="divider" style="margin-top: 3px"></div>
	        <ul class="users-list" id="members-list" style="height: 100%; overflow: auto; margin-bottom: 5px; margin-top: 10px">
	            {% for member in members %}
		            <li>
		            	<img class="member-img" src="{{ member.member.prof_pic.url }}">
		            	<span class="users-list-name">{{member.member.first_name}}</span>
		            </li>
		        {% endfor %}
	        </ul>
	    </div>
	    <div class="card-action center" style="padding: 10px">
	        <a href="/leave/{{group_id}}" style="color: red"><b>Leave group</b></a>
	    </div>
    </div>
</div>
<div class="col s12 m6 l5 x-margin"> 
	<div class="card indigo lighten-5 height-fixed-2">
	    <div class="card-content black-text pull-down" style="padding: 5px">
	        <span class="card-title" style="border-bottom-color: black; text-align: center;"><b>{{ group_name }}</b></span>
	        <div class="divider"></div>
	        <div class="chat" style="height: 91%">
	            <ul style="overflow: auto; height: 100%" id="msg-list">
	               	{% for chat in group_chat %}
	               		{% if user.id != chat.sender.id %} 
						    <li class="you">
						        <a class="user" href="#"><img alt="" src="{{ chat.sender.prof_pic.url }}" /></a>
						        <div class="date"><b>
						          {{ chat.sender.first_name }} {{ chat.sender.last_name }}</b>     
						        	{{ chat.date_sent }}
						        </div>
						        <div class="message" id="other-color">
						          <p>{{ chat.content }}</p>
						        </div>
      						</li>
      					{% else %}
      						<li class="other">
							    <a class="user" href="#"><img alt="" src="{{ chat.sender.prof_pic.url }}" /></a>
							    <div class="date">{{ chat.date_sent }}     <b>{{ chat.sender.first_name }} {{ chat.sender.last_name }}</b></div>
							    <div class="message" id="you-color">
							        <p>{{ chat.content }}</p>
							    </div>
							</li>
						{% endif %}
					{% endfor %}
	               		</ul>
	               	</div>            
			     </div>
			     <div class="divider"></div>
	            <div class="footer green lighten-5">
	            <form id="chat-form" method="post" action="/post/">
	            {% csrf_token %}
		            <input type="hidden" name="recipient_id" id="recipient_id" value= {{ group_id }}>
	              <input type="hidden" name="sender_id" id="sender_id" value={{ user.user.id }}>
		              <div class="input-field col s12 m4 l8" style="width: 87%;" id="chat-msg">
			          <input id="message" type="text" class="validate">
			          <label for="message" class="text-indigo darken-4">Type a new message</label>
			        </div>
			 
			        <button type="submit" class="btn-floating btn-large s12 m4 l2 teal darken-4" id="send" style="margin-top: 5px; float: left;"><i class="material-icons right">send</i></button>
			      </form>
	            </div>
	        </div>
	    </div>
	    <div class="col s12 m6 l3">
	        <div class="card indigo lighten-5" style="height: 570px;">
	            <div class="card-content black-text pull-down" style="padding: 0px; height: 92%">
	              <span class="card-title" style="padding: 5px"><b>Notes</b><a href="#add_notemodal" data-target="add_notemodal" class="btn-floating waves-effect waves-light cyan accent-4 right" style=" margin-left: 5px"><i class="material-icons" style="margin-top: 3px;">mode_edit</i></a><a id= "delete-btn" class="btn-floating waves-effect waves-light red accent-4 right"><i class="material-icons" style="margin-top: 3px">delete</i></a></span>
					  <form action="{% url 'delete' %}" method="POST" id="note-delete" style="overflow: auto; height: 97%">
					  {% csrf_token %}
					    <ul class="collapsible" data-collapsible="accordion" id="notes-list">
						    	{% for note in notes %}
						    	<li class="box-list">
								    <div class="collapsible-header" style="overflow: hidden;text-overflow: ellipsis; white-space: nowrap; ">
								      	<input type="checkbox" id="{{note.id}}" name="note-list" value="{{note.id}}" />
								      	<label for="{{note.id}}">{{note.note}}</label>
								    </div>
								    <div class="collapsible-body"><span>{{note.note}}</span></div>
							    </li>
							    {% endfor %}
							   
						</ul>
						 </form>
	            </div>
	            <!-- <div class="card-action center">
	              <a href="#add_notemodal" data-target="add_notemodal">Add a note</a>
	            </div> -->
	        </div>
        </div>
	    <div id="add_notemodal" class="modal" style="width: 40%;">
		    	<h5 style="text-align: center;" id="modal-title">Add a note</h5>
		    	<!-- <div class="divider"></div> -->
		    	<div class="progress divider">
			     <!--  <div class="indeterminate" id="loading" style="display: none;"></div> -->
			  </div>
			    <div class="modal-content">
			      <form class="col s12" action="/add_note/" action="POST" id="add_note"  enctype="multipart/form-data">
				      <div class="row" style="margin-bottom: 0px">
				        <div class="input-field col s12">
				          <textarea id="note" class="materialize-textarea" style="padding-bottom: 0px"></textarea>
				          <label for="note">Write your note here</label>
				        </div>
				      </div>
				      <div class="row">
				      	<div class="file-field input-field">
					      <div class="btn">
					        <span>Profile Picture</span>
					        <input type="file" name="attachment" id="attachment">
					      </div>
					      <div class="file-path-wrapper">
					        <input class="file-path validate" type="text" id="filename">
					      </div>
					    </div>
				      </div>
    				<!-- 	<button type="submit">Upload</button> -->
			    	</form>
			    </div>
			    <div class="footer" style="text-align: center;">
			      <button onclick="$('#add_note').submit();" class="waves-effect waves-green modal-close btn-flat" style="margin-bottom: 20px;">Save</button>
			      <!-- <button class="modal-action modal-close waves-effect waves-green btn-flat" style="margin-bottom: 20px;">Done</button> -->
			    </div>

		</div>
		<div id="add_membermodal" class="modal" style="width: 40%;">
	    	<h5 style="text-align: center;">Add a member to {{ group_name }}</h5>
	    	<div class="divider"></div>
		    <div class="modal-content">
		      <form class="col s12" action="/add_member/" method="POST" id="add_member">
			      <div class="row">
			        <div class="input-field col s6" style="width: 100%">
			          <input id="member" type="text" class="validate">
			          <label for="member">Username</label>
			          <input type="hidden" id="group_id" value="{{group_id}}">
			        </div>
			      </div>
		    	</form>
		    </div>
		    <div class="footer" style="text-align: center;">
		     <button id="memberbutton" type="submit" class="modal-action modal-close waves-effect waves-green btn-flat" style="margin-bottom: 20px;" onclick="$('#add_member').submit();"><i class="no-text"></i>Add</button>
		    </div>
		</div>
{% endblock %}
{% block script%}
	<script src="{% static 'reconnect.js' %}"></script>
	<script src="{% static 'messages.js' %}"></script>
	<script type="text/javascript">

	var chatlist = document.getElementById('msg-list');
            chatlist.scrollTop = chatlist.scrollHeight;
	var supportsWebSockets = ('WebSocket' in window || 'MozWebSocket' in window) && WebSocket;
        if(!supportsWebSockets){
            console.log("Browser do not support Websockets!")
        }else{
            console.log("Proceed...")
        }

        var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        // Calls the websocket connect channel
        var chatsock = new ReconnectingWebSocket(ws_scheme + '://' + window.location.host + "/whiteboard/group/" + $("#recipient_id").val());

        //For sending chat messages | AJAX, CHANNELS
        $('#chat-form').on('submit', function(event){
            event.preventDefault();
                $.ajax({
                    url : '/post/',
                    type : 'POST',
                    data : { msgbox : $('#message').val(),
                             recipient: $('#recipient_id').val()   
                            },

                    success : function(json){
                        $('#message').val('');
                        message = {}
                        message.text = "chat"
                        message.command= 'send';
                        message.room = $("#recipient_id").val();            
                                   
                        chatsock.send(JSON.stringify(message));

                        var chatlist = document.getElementById('msg-list');
                        chatlist.scrollTop = chatlist.scrollHeight;
                	}
                });
               });

        $('#add_note').on('submit', function(event){
		    event.preventDefault();
		    document.getElementById('loading').style.display = 'block';
		    $.ajax({
		        url : '/add_note/',
		        type : 'POST',
		        data : { note : $('#note').val(),
		                 group: $('#group_id').val(),
		                 // attachment: $('#attachment').get(0).files
		                },

		        success : function(json){
		            // $('#add_membermodal').modal('hide');
		            message = {}
                    message.text = "note"
                    message.command= 'send';
                    message.room = $("#recipient_id").val();            
                                   
                    chatsock.send(JSON.stringify(message));
		            // var chatlist = document.getElementById('notes-list');
		            // chatlist.scrollTop = chatlist.scrollHeight;

		            swal("Noted", "", "success")
		        }
		    });
		});

		$('#add_member').on('submit', function(event){
		    event.preventDefault();
		    $("#memberbutton").html('');
		    // document.getElementByClass('no-text').style.display = 'block';
		    $(".no-text").attr('class', 'fa fa-spinner fa-spin');

		    $.ajax({
		        url : '/add_member/',
		        type : 'POST',
		        data : { user : $('#member').val(),
		                 group: $('#group_id').val()   
		                },

		        success : function(json){
		            // $('#add_membermodal').modal('hide');
		            // $('#members-list').append('<li><img class="member-img" src="'+json.photo+'"><span class="users-list-name">'+json.first_name+'</span></li>');
		            message = {}
                    message.text = "memb"
                    message.command= 'send';
                    message.room = $("#recipient_id").val();            
                                   
                    chatsock.send(JSON.stringify(message));

                    if (json.error)
                    	swal("Error", json.error, "error")
                    else
		            	swal(json.first_name, "has been added.", "success")
		            // $("#memberbutton").html('Add');
		        },
		    //     error: function(){
				  //   swal("Error", json.error, "success")
				  // }
		    });
		});

		$('#delete-btn').on('click', function(event){
		    // event.preventDefault();
		    // document.getElementByClass('no-text').style.display = 'block';
		    $(".no-text").attr('class', 'fa fa-spinner fa-spin');

		    var arr = [];
		    $("input:checkbox[name=note-list]:checked").each(function(){
			    arr.push($(this).val());
			});
			console.log(arr);

		    $.ajax({
		        url : '/delete_note/',
		        type : 'POST',
		        data : { notes : arr
		                },

		        success : function(json){
		            // $('#add_membermodal').modal('hide');
		            // $('#members-list').append('<li><img class="member-img" src="'+json.photo+'"><span class="users-list-name">'+json.first_name+'</span></li>');
		            message = {}
                    message.text = "note"
                    message.command= 'send';
                    message.room = $("#recipient_id").val();            
                                   
                    chatsock.send(JSON.stringify(message));

		            swal("Note(s)", "Delete successful.", "success")
		            // $("#memberbutton").html('Add');
		        }
		    });
		});

		chatsock.onopen = function(message) {
            console.log("Connected");
            message = {}
            message.command= 'start'
            message.text = 'none'
                // prev: chat.receive
            message.reply_channel = $("#recipient_id").val();
            chatsock.send(JSON.stringify(message)); // START TALKING!
        }
            
        chatsock.onmessage = function(message){
            data = JSON.parse(message.data);
            console.log("huhuhuhuu pls work" + data)

            if (data['source'] == "chat"){
            	getMessages();
            }
            else if (data['source'] == "note")
            	getNotes();
            else if (data['source'] == "memb")
            	getMembers();
        }

        chatsock.onclose = function(message){
        	console.log("Connection Closed")
        }
            
        chatsock.onerror = function(message){
            console.log("Error reconnecting ... ");
        }
</script>
{% endblock %}