{% extends "base.html" %}
{% block content %}
<!-- the contact card -->
<div class="material-contact animate-in-card teal lighten-5">

			<!-- image -->
			<div class="divider teal darken-4" style="margin-bottom: 10px"></div>
			<img class="animate-in-image" src="{{ user.prof_pic.url }}">
			<div class="divider teal darken-4" style="margin-top: 10px"></div>
			<!-- name -->
			<h1 class="animate-in-01" style="margin: 10px">{{ user.first_name }} {{ user.last_name }}</h1>
			<!-- title -->
			<h2 class="animate-in-02">Username: {{user.user.username}}</h2>
      
			<!-- <hr class="animate-in-03">-->
			<!-- bio -->
			<p class="animate-in-04" style="text-align: center;">Member since {{user.date_joined}}</p>

			<!-- contact links -->
			<span class="actions animate-in-05">

                <a href="https://www.twitter.com/" target="_blank">Facebook</a>
                <a href="https://www.dribbble.com/" target="_blank">Github</a>
                <a href="https://www.behance.net/" target="_blank">Twitter</a>

            </span>

</div>
{% endblock %}

