{% extends "Whiteboard/header.html" %}
{% load static %}

{% block content %}
<div class="content-wrapper row">
  <section class="content row" style="margin-top: 5px; padding: 0px">
    <!-- Members -->
    <div class="col-md-3" style="padding: 0px">
      <div class="box"  style="border-top-style: none; margin-bottom: 5px">
        <div class="box-header">
          <h3 class="box-title">Write something</h3>
        </div>
        <div class="box-body" style="padding-top: 0px;">
          <textarea rows="10" class="form-control"></textarea>
        </div>
      </div>
      <div class="box box-primary direct-chat direct-chat-primary solid-box" style="margin-bottom: 0px; padding: 0px; border-top-style: none; overflow: auto; height: 50%">
        <div class="box-header with-border"">
          <h3 class="box-title" style="text-align: center;"><b>{{ group_name }}</b></h3>
        </div>
        <div class="box-body no-padding" style="height: 210px">
          <ul class="users-list clearfix" style="height: 100%" id="members-list">
            {% for member in members %}
              <li>
                <img src="{{member.member.prof_pic.url}}" alt="User Image">
                  <a class="users-list-name" href="#">{{member.member.first_name}}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="box-footer text-center">
          <button type="button" class="btn bg-navy color-palette btn-flat" data-toggle="modal" data-target="#addMember">Add a member</button>
        </div>
      </div>
    </div>
    <!-- Members -->
    <!-- Chat -->
    <div class="col-md-5" style="padding-left: 10px; padding-right: 10px">
      <div class="box box-warning direct-chat direct-chat-primary" style="border-top-style: none; height: 580px; margin-bottom: 0px">
        <div class="box-header with-border" >
          <h3 class="box-title"><b>Direct Chat</b></h3>
        </div>
        <div class="box-body" style="height: 82%" id="msg-list-box">
          <div class="direct-chat-messages primary" style="height: auto;" id="msg-list">
            {% for chat in group_chat %}
              {% if user.id != chat.sender.id %} 
                <div class="item">
                  <div class="direct-chat-info clearfix">
                      <span class="direct-chat-name pull-left">{{ chat.sender.first_name }} {{ chat.sender.last_name }}</span>
                      <span class="direct-chat-timestamp pull-right">{{ chat.date_sent }}</span>
                  </div>
                  <img class="direct-chat-img" src="{{ chat.sender.prof_pic.url }}" alt="message user image">
                  <div class="direct-chat-text">
                    {{ chat.content }}
                  </div>
                </div>
              {% endif %}
              {% if user.id == chat.sender.id %}              
                <div class="direct-chat-messages right">
                  <div class="direct-chat-info clearfix">
                    <span class="direct-chat-name pull-right">{{ chat.sender.first_name }} {{ chat.sender.last_name }}</span>
                    <span class="direct-chat-timestamp pull-left">{{ chat.date_sent }}</span>
                  </div>
                  <img class="direct-chat-img" src="{{ chat.sender.prof_pic.url }}" alt="message user image">
                  <div class="direct-chat-text">  <!-- bg-teal disabled color-palette -->
                   {{ chat.content }}
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="box-footer">
          <form id="chat-form" method="post" action="/post/">
            <div class="input-group">
              <input type="text" name="message" id="message" placeholder="Type Message ..." class="form-control">
              <input type="hidden" name="recipient_id" id="recipient_id" value= {{ group_id }}>
              <input type="hidden" name="sender_id" id="sender_id" value={{ user.user.id }}>
              <span class="input-group-btn"><button type="submit" class="btn bg-navy color-palette btn-flat">Send</button></span>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Chat box -->
    <!-- <div class="col-md-5" style="padding-left: 10px; padding-right: 10px">
          <div class="box box-success" style="border-top-style: none; height: 580px; margin-bottom: 0px">
            <div class="box-header">
              <i class="fa fa-comments-o"></i>

              <h3 class="box-title">Chat</h3>

            </div>
            <div class="box-body chat" style="height: 82%; overflow: scroll;" id="chat-box">
              <div class="direct-chat-messages" style="height: auto;" id="msg-list">
            {% for chat in group_chat %}
              {% if user.id != chat.sender.id %} 
              <div class="item" style="border-style: solid;">
                <img src="{{chat.sender.prof_pic.url}}" alt="user image" class="offline">

                <p class="message">
                  <a href="#" class="name">
                    <small class="text-muted pull-right"><i class="fa fa-clock-o"></i>{{ chat.date_sent }}</small>
                    {{chat.sender.first_name}} {{chat.sender.last_name}}
                  </a>
                  {{chat.content}}
                </p>
              </div>
              {% endif %}
              {% if user.id == chat.sender.id %} 
              <div class="item right" style="border-style: solid;">
                <img src="{{chat.sender.prof_pic.url}}" alt="user image" class="offline pull-right">
                <p class="message pull-right" style="margin-right: 55px; margin-left: 0px; width: 87%; text-align: right;">
                  <a href="#" class="name" style="text-align: right; width: 100%">
                    {{chat.sender.first_name}} {{chat.sender.last_name}}
                    <small class="text-muted pull-left"></i>{{chat.date_sent}}</small>
                  </a>
                 {{chat.content}}
                </p>
              </div>
              {% endif %}
              {% endfor %}
            </div>
            </div>
            <div class="box-footer">
              <div class="input-group">
                <input class="form-control" placeholder="Type message...">

                <div class="input-group-btn">
                  <button type="button" class="btn btn-success"><i class="fa fa-plus"></i></button>
                </div>
              </div>
            </div>
          </div>
    </div> -->
    <!-- Chat -->
    <!-- Notes -->
    <div class="col-md-4" style="margin: 0px; padding: 0px;">
      <div class="box box-primary" style="border-top-style: none;overflow: auto; height: 50%">
        <div class="box-header">
          <i class="ion ion-clipboard"></i>
          <h3 class="box-title"><b>Notes</b></h3>
        </div>
        <div class="box-body" style="height: 200px">
          <ul class="todo-list" style="height: 100%">
            {% for note in notes %}
              <li>
                <span class="text">{{note.note}}</span>
                <div class="tools">
                  <i class="fa fa-edit"></i>
                  <i class="fa fa-trash-o"></i>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="box-footer clearfix no-border" style="text-align: center;">
          <!-- <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#addNote"><i class="fa fa-plus"></i> Add item</button> -->
          <button type="submit" class="btn bg-navy color-palette btn-flat" data-toggle="modal" data-target="#addNote">Add a note</button>
        </div>
      </div>
    </div>
    <!-- Notes -->
    <!-- Modal for add member -->
    <div class="modal fade" id="addMember" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="size: 30%">
          <div class="modal-header with-border">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" style="text-align: center;">Add a member to {{group_name}}</h4>
          </div>
          <div class="modal-body">
          <form action="/add_member/" method="POST" id="add_member">
          <!-- {% csrf_token %} -->
            <!-- <label for="username">Username</label> -->
            <input type="text" class="form-control input-lg" id="member" placeholder="Enter username" style="text-align: center;">
            <input type="hidden" id="group_id" value="{{group_id}}">
            </form>
            </div>
            <div class="modal-footer" style="text-align: center;">
            <button type="submit" class="btn bg-navy color-palette btn-flat">Send Invitation</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal for add member -->
    <!-- Modal for add notes -->
    <div class="modal fade" id="addNote" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header" style="text-align: center;">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">New Note</h4>
          </div>
          <div class="modal-body">
            <textarea type="text" class="form-control" id="note" placeholder="Write a note" rows="4" style="text-align: center;"></textarea>
          </div>
          <div class="modal-footer" style="text-align: center;">
            <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
            <button type="submit" class="btn bg-navy color-palette btn-flat">Save</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal for add notes -->
  </section>
</div>
{% endblock %}

