appdirs==1.4.3
asgi-rabbitmq==0.5
asgi-redis==1.3.0
asgiref==1.0.0
asn1crypto==0.22.0
attrs==16.3.0
autobahn==0.17.2
Automat==0.5.0
cffi==1.10.0
channels==1.0.3
constantly==15.1.0
cryptography==1.8.2
daphne==1.0.3
dj-database-url==0.4.2
Django==1.10.6
futures==3.1.1
h2==2.6.2
haikunator==2.1.0
hpack==3.0.0
hyperframe==5.1.0
idna==2.5
incremental==16.10.1
msgpack-python==0.4.8
oauthlib==2.0.1
olefile==0.44
packaging==16.8
pika==0.10.0
Pillow==4.1.1
priority==1.3.0
psycopg2==2.7.1
pyasn1==0.2.3
pyasn1-modules==0.0.8
pycparser==2.17
pyOpenSSL==17.0.0
pyparsing==2.2.0
pypiwin32==220
pytz==2017.2
redis==2.10.5
requests==2.13.0
requests-oauthlib==0.8.0
service-identity==17.0.0
six==1.10.0
twisted==17.1.0
txaio==2.6.1
typing==3.5.3.0
zope.interface==4.3.3
