{% for chat in group_chat %}
                    {% if user.id != chat.sender.id %} 
                  <li class="you">
                    <a class="user" href="#"><img alt="" src="{{ chat.sender.prof_pic.url }}" /></a>
                    <div class="date"><b>
                      {{ chat.sender.first_name }} {{ chat.sender.last_name }}</b>     
                      {{ chat.date_sent }}
                    </div>
                    <div class="message" id="other-color">
                      <p>
                        {{ chat.content }}
                      </p>
                    </div>
                    </li>
                {% else %}
                    <li class="other">
                      <a class="user" href="#"><img alt="" src="{{ chat.sender.prof_pic.url }}" /></a>
                      <div class="date">
                      {{ chat.date_sent }}     
                      <b>
                        {{ chat.sender.first_name }} {{ chat.sender.last_name }}</b>     
                      </div>
                      <div class="message" id="you-color">
                        <p>
                          {{ chat.content }}
                        </p>
                      </div>
                    </li>
              {% endif %}
              {% endfor %}