{% for note in notes %}
						    	<li class="box-list">
								    <div class="collapsible-header" onclick="console.log('HEEEELOOOOO')">
								    <!-- {% if note.new %}
								    	<span class="new badge amber darken-4"></span>
								    {% endif %} -->
								    
								      	<input type="checkbox" id="{{note.id}}" name="note-list" value="{{note.id}}" />
								      	<label for="{{note.id}}">{{note.note}}</label>
								    </div>
								    <div class="collapsible-body"><span>{{note.note}}</span></div>
							    </li>
							    {% endfor %}